@font-face {
    font-family:Cursed Timer ULiL;
    src: url(/Cursed_Timer_ULiL/CursedTimerULiL.ttf);
}

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  box-sizing: border-box;
  background-image: url(/football-pitch.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1b244acc;
  width: 75%;
  height: 385px;
  margin: 0 auto;
  max-width: 875px;
  padding: 40px;
  margin-top: 100px;
}

img {
  width:100px;
}
.inner-container {
  text-align: center;
}

h3 {
  color: #eeeeee;
  font-weight: 700px;
  font-size: 40px;
  line-height: 35.89px;
  margin: 0;
}

.h4Box {
  background-color: #080001;
  margin:20px 10px;
  border-radius: 15px;
}

h4 {
  font-family: "Cursed Timer ULiL", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 90px;
  line-height: 127px;
  color: #f94f6d;
  margin: 0;
  text-align: center;
}

#homeReaction, #guestReaction {
  font-size: 20px;
}

.h5Box {
    font-family: "Cursed Timer ULiL", sans-serif;
    border: 2px solid #9aabd8;
    color: #9aabd8;
    background-color: transparent;
    width: 45px;
    height: 45px;
    margin: 10px 5px;
    border-radius: 5px;
}

.belowPlus {
  display: flex;
  justify-content: center;
  align-items: center;
}
